<!--

-->
{{> header }}
<div class="page kotInDetail">
    <div class="image-kot-content">
        <div id="kotDetail-image1" class="kot-file-upload">
            <img src="{{fotoArray1}}" alt="">
            <i class="fas fa-map-marker-alt kot-marker-map" id="{{currentKot}}"></i>
        </div>
        <div class="kot-upload-small-collect">
            <div id="kotDetail-image2" class="kot-file-upload small">
                <img src="{{fotoArray2}}" alt="">
            </div>
            <div id="kotDetail-image3" class="kot-file-upload small">
                <img src="{{fotoArray3}}" alt="" align="middle">
            </div>
        </div>
    </div>
    <h1 id="kotDetail-price-value">€{{kot.info.prijs}}</h1>
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Delen</a></div>
    <p id="kotDetail-info-value">
        {{kot.info.extraInfo}}
    </p>
    <h3>Adres</h3>
    <p class="kotDetail-adress-street">Adres<strong>
        {{kot.adress.street}} {{kot.adress.extra}} {{kot.adress.city}}
    </strong></p>
    <h3>Overzicht</h3>
    <p class="kotDetail-studio-type">Type:<strong id="kotDetail-studio-type-value">{{kot.info.overzicht.type}}</strong></p>

    <p class="kotDetail-oppervlakte">Oppervlakte:<strong id="kotDetail-oppervlakte-value">{{kot.info.overzicht.oppervlakte}} m2</strong></p>

    <p class="kotDetail-verdieping">Verdieping:<strong id="kotDetail-verdieping-value">{{kot.info.overzicht.verdieping}}</strong></p>

    <p class="kotDetail-maxPersonen">Aantal personen:<strong id="kotDetail-maxPersonen-value">{{kot.info.overzicht.maxPersonen}}</strong></p>

    <p class="kotDetail-kotenInPand">Aantal koten in het pand:<strong id="kotDetail-kotenInPand-value">{{kot.info.overzicht.kotenInPand}}</strong></p>


    <h3>Interieur</h3>
    <p class="kotDetail-douche">Douche:<strong id="kotDetail-douche-value">{{kot.info.interieur.douche}}</strong></p>

    <p class="kotDetail-bad">Bad:<strong id="kotDetail-bad-value">{{kot.info.interieur.bad}}</strong></p>

    <p class="kotDetail-toilet">Toilet:<strong id="kotDetail-toilet-value">{{kot.info.interieur.toilet}}</strong></p>

    <p class="kotDetail-keuken">Keuken:<strong id="kotDetail-keuken-value">{{kot.info.interieur.keuken}}</strong></p>

    <p class="kotDetail-bemeubeld">Bemeubeld<strong id="kotDetail-bemeubeld-value">{{kot.info.interieur.bemeubeld}}</strong></p>

    <h3>Chat met de kotbaas:</h3>

    <form action="" class="start-conversation" id="start-conversation">
        <textarea type="text" name="message" id="message">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
        </textarea>
        <button class="btn-basic" id="btn-startConversation-submit">Versturen</button>
    </form>
    
</div>